<div class="navigation">
    <ul id="nav-bar">
        <li>
            <a routerLink="Home" class="btn">
                <i class="bi-house-door"></i>
            </a>
            <span class="innertext">HOME</span>
        </li>
        <ng-container *ngIf="this.authenticationCheck.isAuthenticated();then NotRegisteredUser;else RegisteredUser">

        </ng-container>
        <ng-template #NotRegisteredUser>
            <!-- <li>
                <a routerLink="login" class="btn">
                    <i class="bi bi-box-arrow-in-left"></i>
                            </a>
                <span class="innertext">LOGIN</span>
            </li>
            <li>
                <a routerLink="signup" class="btn">
                    <i class="bi bi-person-plus-fill"></i>
                            </a>
                <span class="innertext">SIGNUP/REGISTER</span>
            </li> -->
        </ng-template>
            <!-- <li>
                <a routerLink="dashboard" class="btn" >
                    <i class="bi bi-window-dash"></i>
                </a>
                <span class="innertext">DASHBOARD</span>
            </li> -->
            <ng-template #RegisteredUser>

            <li>
                <a class="btn" (click)="LogoutFromWebApp()" style="cursor: pointer;">
                    <i class="bi bi-box-arrow-right"></i>            </a>
                <span class="innertext">LOGOUT</span>
            </li>
        </ng-template>
        
        
        <!-- <li>
            <a routerLink="contactus" class="btn" >
                <i class="bi bi-telephone"></i>                   
            </a>
            <span class="innertext">CONTACT US</span>
        </li> -->
        
    </ul>
</div> 